<app-card>
  <div>
    <button [class.active]="selected()" (click)="onSelectUser()">
      <!-- <img src="../../assets/users/{{ selectedUser.avatar }}" [alt]="selectedUser.name"/> -->
      <img [src]="imagePath()" [alt]="user().name" />
      <!-- Property binding -->
      <!-- binds the src/alt property of the underlying HTMLImageElement DOM object to the value stored in .avatar/.name -->
      <!-- It is considered a better practice to keep your template code, the dynamic template code, fairly simple and to outsource computations into a different place -->
      <span>{{ user().name }}</span>
      <!-- String interpolation -->
    </button>
  </div>
</app-card>
